@{
    ViewBag.Title = "Home Page";
}

<div>
    Is Administrator   = @ViewBag.IsAdministrator 
    Is GeneralUser = @ViewBag.IsGeneralUser
</div>

<div class="jumbotron">
    <h1>StackOverFlowing</h1>
    <p class="lead">StackOverFlow</p>
</div>